<%- model_class = Hole -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%= model_class.human_attribute_name(:tee) %></th>
      <th><%= model_class.human_attribute_name(:par) %></th>
      <th><%= model_class.human_attribute_name(:handicap) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:strokesaver) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @holes.each do |hole| %>
      <tr>
        <td><%= link_to hole.id, hole_path(hole) %></td>
        <td><%= hole.number %></td>
        <td><%= hole.course_id %></td>
        <td><%= hole.tee %></td>
        <td><%= hole.par %></td>
        <td><%= hole.handicap %></td>
        <td><%= hole.distance %></td>
        <td><%= hole.image %></td>
        <td><%= hole.strokesaver %></td>
        <td><%=l hole.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hole_path(hole), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hole_path(hole),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hole_path,
            :class => 'btn btn-primary' %>
