<div class="page-header">
  <h1>Competitions</h1>
  <% if is_admin? %>
      <%= link_to "New Competition", new_competition_path, :class => "btn btn-primary pull-right" %>
  <% end %>
</div>

<% @competitions.each do |competition| %>
  <div class="row">
    <div class="span2">
      <%= link_to (image_tag competition.course.crest, :class => "img img-polaroid"), competition_path(competition) %>
    </div>
    <div class="span4">
      <table>
        <tr><td><b>Date: </b></td><td><%= l competition.competition_date %></td></tr>
        <tr><td><b>Course:</b></td><td><%= competition.course.name %></td></tr>
        <tr><td><b>Competition Scratch Score: </b></td><td><%= competition.css %></td></tr>
      </table>
      <br />
      <div class="btn-group btn-group">
        <% unless competition.competition_date.future? %>
            <%= link_to "Results", competition_path(competition), :class => "btn" %>
        <% end %>
        <% if is_admin? %>
            <%= link_to "Update Handicaps", admin_path(competition), :id => "hcpLink" %>
            <%= link_to "Edit", edit_competition_path(competition), :class => "btn" %>
            <%= link_to "Delete", competition_path(competition),
                        :method => :delete,
                        :data => { :confirm => 'Are you sure?' },
                        :class => 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="span6">
      <% competition.users.each do |player| %>
          <%= link_to (image_tag player.avatar(:micro), :class => "img img-polaroid pull-left", :title => "#{player.fullname} #{past_or_future(competition)}"), user_path(player) %>
      <% end %>
    </div>
  </div>
  <hr />
<% end %>