<%- model_class = Competition -%>
<div class="hero-unit" style="background-image: url('/<%= @competition.course.photo %>')">
  <h1>
    <%= image_tag @competition.course.crest, :class => "img img-polaroid" %>
    <%= @competition.name unless nil? %>
  </h1>
  <h3>
    <%= @competition.course.name %> <%= @competition.competition_date %></h3>
  <p><%=  @competition.message %></p>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Member</th>
          <th>Handicap</th>
          <th>Back 9</th>
          <th>Stableford Score</th>
        </tr>
      </thead>
      <tbody>
      <% @competition.results.each do |round| %>

        <% if round.user == current_user %>
          <tr class="info">
        <% else %>
          <tr>
        <% end %>
          <td><%= link_to (image_tag round.user.avatar.url(:micro), :class => "img img-polaroid"), user_path(round.user) %></td>
          <td><%= round.user.firstname %> <%= round.user.surname %></td>
          <td><%= round.user.handicap_on(round.date_played).round %></td>
          <td><%= round.back_nine %></td>
          <td><b><%= round.total_score %></b></td>
          <td><%= link_to "Show", round_path(round), :class => "btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
