<%- model_class = Competition -%>
<div class="page-header">
  <h1><%= image_tag @competition.course.crest, :class => "img img-polaroid" %> <%= @competition.course.name %></h1>
  <h3><%=  @competition.competition_date %></h3>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Member</th>
          <th>Handicap</th>
          <th>Back 9</th>
          <th>Stableford Score</th>
        </tr>
      </thead>
      <tbody>
      <% @competition.results.each do |round| %>
        <tr>
          <td><%= image_tag round.user.avatar.url(:micro), :class => "img img-polaroid" %></td>
          <td><%= round.user.firstname %> <%= round.user.surname %></td>
          <td><%= round.user.handicap_on(round.date_played).round %></td>
          <td><%= round.back_nine %></td>
          <td><%= round.total_score %></td>
          <td><%= link_to "Show", round_path(round), :class => "btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
