<%= form_for @round, :html => { :class => 'form-horizontal' } do |f| %>

  <table class="table">
    <tr>
      <th><%= f.label :course_id %></th>
      <th><%= f.label :competition_id %></th>
      <th><%= f.label :date_played %></th>
      <th><%= f.label :tee %></th>
      <th><%= f.hidden_field :user_id, {:value => current_user.id} %></th>
    </tr>
    <tr>
      <td><%= f.collection_select :course_id, @courses, :id, :name, :input_html => {:rel => "/rounds/tees_by_course"} %></td>
      <td><%= f.collection_select :competition_id, Competition.order("competition_date DESC"), :id, :name %></td><!-- change to collection_select for competition model -->
      <td><%= f.date_select :date_played, :class => 'text_field' %></td>
      <td><%= f.collection_select :tee, @tees, :name, :name %></td>
      <td><%= f.submit nil, :class => 'btn btn-primary' %></td>
    </tr>
  </table>

<% end %>

<hr />