<h1>My Rounds</h1>
<table class="table table-hover">
  <thead>
  <th colspan="2">Course</th>
  <th>Date</th>
  <th>Hcp.</th>
  <th>GIR</th>
  <th>Gross</th>
  <th>Nett</th>
  <th>Score</th>
  <th></th>
  </thead>
  <tbody>

  <% @rounds.each do |round| %>
    <tr>
      <td><%= image_tag round.course.crest %></td>
      <td><%= round.course.name %></td>
      <td><%= round.date %></td>
      <td><%= round.handicap %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to 'View Scorecard', scorecard_path, :class => 'btn btn-mini btn-warning' %></td>
    </tr>

  <% end %>
  </tbody>
</table>
<%= will_paginate @rounds %>