<div class="container">
  <div class="row">
    <div class="span2">
      <%= link_to (image_tag current_user.avatar.url, :class => "img-polaroid"), user_path(current_user), :title => current_user.fullname %>
    </div>

    <div class="span10">

      <h2 class="pull-left">My Rounds</h2>
      <%= link_to "New Round", new_round_path, :class => "btn btn-primary pull-right" %>
      <table class="table table-hover">
        <thead>
        <tr>
          <th></th>
          <th>Date Played</th>
          <th>Course</th>
          <th>Tee</th>
          <th>Strokes</th>
          <th>Stableford</th>
          <th>Handicap</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @rounds.each do |round| %>

            <% if round.competition_id.nil? %>
                <tr id="round_<%= round.id %>">
            <% else %>
                <tr class="info" id="round_<%= round.id %>">
            <% end %>
              <td><%= image_tag round.course.crest,
                                :title => round.course.name,
                                :class => "img img-polaroid",
                                :size => "50x50" %>
              </td>
              <td><%= round.date_played %></td>
              <td><%= round.course.name %></td>
              <td>
                <span class="label <%= label_color(round.tee) %>">
                  <%= round.tee.capitalize %>
                </span>
              </td>
              <td><%= round.total_strokes %></td>
              <td><%= round.total_score %></td>
              <td><%= round.user.handicap_on(round.date_played).to_i %></td>
              <td>
                <div class="btn-group btn-group-vertical">
                  <%= link_to "Details", round_path(round), :class => "btn" %>
                  <%= link_to "Edit", rounds_path, :class => "btn" %>
                  <% if round.competition_id.blank? %>
                  <%= link_to "Delete", round_path(round),
                              remote: true,
                              :method => :delete,
                              :data => { :confirm => 'Are you sure?' },
                              :class => 'btn btn-danger' %>
                  <% end %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= will_paginate @rounds %>
    </div>
  </div>
</div>
