<div class="container">
  <div class="row">
    <div class="span2">
        <%= link_to (image_tag @round.user.avatar.url, :class => "img-polaroid"), user_path(@round.user), :title => @round.user.fullname %>
      <h3 align="center">
        <%= @round.user.fullname %>
      </h3>
      <p align="center">
        Played: <%= @round.date_played %><br />
        <span class="label <%= label_color(@round.tee) %>">
          <%= @round.tee.capitalize %> Tees
        </span><br />
        Handicap: <%= hcp_to_i(@handicap) %>
      </p>

    </div>

    <div class="span10">
      <h1 class="pull-right">
        <%= @round.course.name %>
        &nbsp;
        <%= image_tag @round.course.crest, :class => "img" %>
      </h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Hole</th>
            <th>Length</th>
            <th>Index</th>
            <th>Par</th>
            <th>Strokes</th>
            <th>Putts</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.hole.number %></td>
            <td><%= score.hole.distance %></td>
            <td><%= score.hole.handicap %></td>
            <td><%= score.hole.par %></td>
            <td>
              <% unless score.strokes.nil? %>
              <span class="label <%= score_label(score.score_type) %>">
                <%= score.strokes %>
              </span>
              <% end %>
            </td>
            <td><%= score.putts %></td>
            <td><%= score.stableford %></td>
          </tr>
        <% end %>
        <tr class="info">
          <td></td>
          <td><%= @round.course.total_length(@round.tee) %></td>
          <td></td>
          <td><%= @round.course.total_par(@round.tee) %></td>
          <td><%= @round.total_strokes %></td>
          <td><%= @round.total_putts %></td>
          <td><%= @round.total_score %></td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>