<%= form_for @user, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

    <% if @user.errors.any? %>
        <div class="alert alert-error">
          <p><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
  <% end %>


  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :surname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
    <% if @user == current_user %>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
        <span class="prompt">only if you wish to change current password.</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
        <span class="prompt">only if you wish to change current password.</span>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :avatar_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <% end %>
  <% if is_admin? %>
    <div class="control-group">
      <%= f.label :role, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag(:role, options_for_select([['Admin', 'admin'], ['Member', 'member']], 2)) %>
      </div>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
