<h1>Edit User</h1>

<div class="row">
  <div class="span12">
    <%=  image_tag @user.avatar.url(:micro), :class => "img-polaroid pull-left" %>
    <h3><%=  @user.firstname %> <%= @user.surname %></h3>
  </div>
</div>

<div class="row">
  <div class="span4 offset 1">
    <h3>Change Password</h3>
    <%= form_for @user do |f| %>
        <table>
          <tr>
            <td>Password: </td>
            <td><%= f.password_field :new_password, :placeholder => "Enter new password", :class => 'text_field', :value => "" %></td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td><%= f.password_field :new_password_confirmation, :placeholder => "Confirm password", :class => 'text_field' %></td>
          </tr>
          <tr>
            <td></td>
            <td><%=  f.submit "Change Password", :class => "btn btn-danger" %></td>
          </tr>
       </table>
  <% end %>
  </div>


  <div class="span4 offset 1">
    <h3>Edit Details</h3>
    <%= form_for @user, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
      <table>
        <tr>
          <td>Name: </td>
          <td><%= f.text_field :firstname, :placeholder => "Enter firstname", :class => 'text_field' %></td>
        </tr>
        <tr>
          <td>Surname: </td>
          <td><%= f.text_field :surname, :placeholder => "Enter surname", :class => 'text_field' %></td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><%= f.text_field :email, :placeholder => "Enter email address", :class => 'text_field' %></td>
        </tr>
        <tr>
          <td>Avatar: </td>
          <td><%= f.file_field :avatar, :class => 'text_field' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%=  f.submit "Update Details", :class => "btn btn-primary" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>