<%- model_class = User -%>
<div class="row">
  <div class="span12">

        <div class="page-header">
          <h1>Society Members</h1>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(:firstname) %></th>
              <th><%= model_class.human_attribute_name(:surname) %></th>
              <th><%= model_class.human_attribute_name(:email) %></th>
              <th><%= model_class.human_attribute_name(:avatar) %></th>
              <th><%= model_class.human_attribute_name(:role) %></th>
              <th><%= model_class.human_attribute_name(:created_at) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% if user.role == 'admin' %>
                <tr class="info">
              <% else %>
                <tr>
              <% end %>
                <td><%= user.id %></td>
                <td><%= user.firstname %></td>
                <td><%= user.surname %></td>
                <td><%= user.email %></td>
                <td>
                  <% if user.avatar.exists? %>
                    <%= image_tag user.avatar.url(:micro), :class => "img-polaroid center" %>
                  <% else %>
                    <%= image_tag 'user.png', :class => 'img-polaroid center micro' %>  <!-- displaying the default user image -->
                  <% end %>
                </td>
                <td><%= user.role %></td>
                <td><%= l user.created_at %></td>
                <td>
                  <%= link_to 'Show', user_path(user), :class => 'btn btn-mini' %>
                  <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %>

  </div>
</div>