<%- model_class = User -%>
<div class="row">
  <div class="page-header">
    <h1>Society Members</h1>
  </div>
  <div class="span6">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if user.role == 'admin' %>
            <tr class="info">
          <% else %>
            <tr>
          <% end %>
            <td>
              <% if user.avatar.exists? %>
                <%= image_tag user.avatar.url(:micro), :class => "img-polaroid center" %>
              <% else %>
                <%= image_tag 'user.png', :class => 'img-polaroid center micro' %>  <!-- displaying the default user image -->
              <% end %>
            </td>
            <td><%= user.firstname %> <%= user.surname %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Profile', user_path(user), :class => 'btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>  
  <div class="span6">  
    <% if is_admin? %>
      <!-- render the new user form -->
      <div class="well">
        <h3>New User</h3>
        <%= render :partial => 'form' %>
      </div>
    <% end %>
  </div>
</div>