<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>User Profile</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <!-------------------------------------------------------------------
                               USER DETAILS
    -------------------------------------------------------------------->
    <div class="span2 profile">
      <%= image_tag(@user.avatar.url, :class => "img-polaroid")%>
      <h3><%= @user.firstname + " " + @user.surname %></h3>
      <p><%= @user.email %></p>
      <p>
        Current handicap:<br />
        <%= @user.handicap_on(Time.now) %>
      </p>
      <% if current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-primary' %>
      <% end %>
    </div>

    <!-------------------------------------------------------------------
                           USER HANDICAP PROGRESS
    -------------------------------------------------------------------->
    <div class="span10">
      <h4 class="user"><%= @user.firstname %>'s Handicap Progress</h4>
      <script type="text/javascript" src="http://www.google.com/jsapi"></script>
      <script type="text/javascript">
          google.load('visualization', '1', {packages: ['corechart']});
      </script>
      <script type="text/javascript">
          function drawVisualization() {
              // Create and populate the data table.
              var data = google.visualization.arrayToDataTable(
                  <%= @user.handicap_history.to_json.html_safe %>
              );

              // Create and draw the visualization.
              new google.visualization.LineChart(document.getElementById('visualization')).
                      draw(data, {curveType: "function",
                          width: 970, height: 300,
                          vAxis: {maxValue: 10}}
              );
          }
          google.setOnLoadCallback(drawVisualization);
      </script>
      <div id="visualization"></div>
    </div>
  </div>
  <hr />

  <!-------------------------------------------------------------------
                            USER ROUNDS
   -------------------------------------------------------------------->
  <div class="row">
    <div class="span12">
      <h3><%= @user.firstname %>'s Recent Rounds</h3>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Date Played</th>
          <th>Course</th>
          <th>Tee</th>
          <th>Strokes</th>
          <th>Stableford</th>
          <th>Handicap</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @rounds.each do |round| %>
          <tr>
            <td><%= round.date_played %></td>
            <td><%= round.course.name %></td>
            <td><%= round.tee %></td>
            <td><%= round.total_strokes %></td>
            <td><%= round.total_score %></td>
            <td><%= round.user.handicap_on(round.date_played).round %></td>
            <td><%= link_to "Show", round_path(round), :class => "btn btn-mini" %></td>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <hr />

  <!-------------------------------------------------------------------
                           USER PHOTOS
  -------------------------------------------------------------------->
  <div class="row">
    <div class="span12">
      <% if @posts.any? %>
        <div class="row">
          <div class="span12">
            <h3><%= @user.firstname %>'s Photos</h3>
            <ul class="thumbnails">
              <% @posts.each do |post| %>
                <% if post.photo.exists? %>
                  <li class="span2">
                    <a href="#" class="thumbnails">
                      <%= image_tag post.photo.url(:thumb), :class=>"thumbnail" %>
                    </a>
                  </li>
                 <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>