<div class="row">
  <div class="span6">
    <h1>Competitions</h1>
    <table class="table table-striped">
      <thead>
      <th>Date</th>
      <th>Time</th>
      <th>Venue</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <td>29/02/2012</td>
        <td>11.00am</td>
        <td>Royal Tara</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>28/03/2012</td>
        <td>11.00am</td>
        <td>Craddockstown</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>21/04/2012</td>
        <td>2.00pm</td>
        <td>Beaverstown</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>19/05/2012</td>
        <td>12.00pm</td>
        <td>Rathcore</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>15/06/2012</td>
        <td>10.00am</td>
        <td>Carton - Montgomerie</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>23/07/2012</td>
        <td>2.00pm</td>
        <td>Luttrellstown</td>
        <td>
          <% if is_admin %>
              <%= link_to "Scores", competition_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Handicaps", competitions_path, :class => "btn btn-mini" %>
              &nbsp;
              <%= link_to "Results", competitions_path, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <ul class="thumbnails">
      <li class="span2"><%=  link_to (image_tag "temp1.jpg"), "", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp2.jpg"), "/assets/images/temp2.jpg", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp3.jpg"), "/assets/images/temp3.jpg", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp4.jpg"), "/assets/images/temp4.jpg", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp5.jpg"), "/assets/images/temp5.jpg", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp6.jpg"), "/assets/images/temp6.jpg", :class => "thumbnail" %></li>
      <li class="span2"><%=  link_to (image_tag "temp7.jpg"), "/assets/images/temp7.jpg", :class => "thumbnail" %></li>
    </ul>


  </div>
</div> <!-- end of row -->








