<% provide(:title, 'Wall') %>

<div class="hero-unit" id="cartonwall">
  <div class="row">

    <div class="span11">
      <div class="row">
        <div class="span2">
          <%= image_tag "courses/carton.jpg", :class => 'pull-left img-polaroid' %>
        </div>
        <div class="span9">
          <h1>Carton - Montgomerie</h1>
          <p>15 June 2012</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="span8">
      <table class="table table-striped">
        <thead>
          <th>Pos.</th>
          <th></th>
          <th>Name</th>
          <th>Hcp.</th>
          <th>Gross</th>
          <th>Nett</th>
          <th>Stableford</th>
          <th></th>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><%=  link_to (image_tag "users/tiger50.jpg", :class => "img-polaroid pull-left"), user_path(2) %></td>
          <td>Tiger Woods</td>
          <td>0</td>
          <td>65</td>
          <td>65</td>
          <td>43</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>2</td>
          <td><%=  link_to (image_tag "users/adam50.jpg", :class => "img-polaroid pull-left"), user_path(7) %></td>
          <td>Adam Scott</td>
          <td>2</td>
          <td>69</td>
          <td>67</td>
          <td>41</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>3</td>
          <td><%=  link_to (image_tag "users/rory50.jpg", :class => "img-polaroid pull-left"), user_path(3) %></td>
          <td>Rory McIlroy</td>
          <td>0</td>
          <td>67</td>
          <td>67</td>
          <td>41</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>4</td>
          <td><%=  link_to (image_tag "users/bubba50.jpg", :class => "img-polaroid pull-left"), user_path(1) %></td>
          <td>Bubba Watson</td>
          <td>5</td>
          <td>73</td>
          <td>68</td>
          <td>40</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>5</td>
          <td><%=  link_to (image_tag "users/luke50.jpg", :class => "img-polaroid pull-left"), user_path(5) %></td>
          <td>Luke Donald</td>
          <td>1</td>
          <td>70</td>
          <td>69</td>
          <td>39</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>6</td>
          <td><%=  link_to (image_tag "users/darren50.jpg", :class => "img-polaroid pull-left"), user_path(4) %></td>
          <td>Darren Clarke</td>
          <td>3</td>
          <td>74</td>
          <td>71</td>
          <td>37</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>7</td>
          <td><%=  link_to (image_tag "users/padraig50.jpg", :class => "img-polaroid pull-left"), user_path(6) %></td>
          <td>Padraig Harrington</td>
          <td>8</td>
          <td>80</td>
          <td>72</td>
          <td>36</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>8</td>
          <td><%=  link_to (image_tag "http://placehold.it/50x50", :class => "img-polaroid pull-left"), user_path(2) %></td>
          <td>Phil Mickelson</td>
          <td>6</td>
          <td>78</td>
          <td>72</td>
          <td>36</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>9</td>
          <td><%=  link_to (image_tag "http://placehold.it/50x50", :class => "img-polaroid pull-left"), user_path(2) %></td>
          <td>Ernie Els</td>
          <td>3</td>
          <td>75</td>
          <td>72</td>
          <td>36</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>10</td>
          <td><%=  link_to (image_tag "http://placehold.it/50x50", :class => "img-polaroid pull-left"), user_path(2) %></td>
          <td>Graeme McDowell</td>
          <td>2</td>
          <td>75</td>
          <td>73</td>
          <td>35</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        <tr>
          <td>11</td>
          <td><%=  link_to (image_tag "http://placehold.it/50x50", :class => "img-polaroid pull-left"), user_path(2) %></td>
          <td>Shane Lowry</td>
          <td>10</td>
          <td>85</td>
          <td>75</td>
          <td>33</td>
          <td><%= link_to "Scorecard", competition_path, :class => "btn btn-mini btn-primary" %></td>
        </tr>
        </tbody>

      </table>
    </div>
    <div class="span4 center">
      <div class="widget span4">
        <% user = User.find(2) %>
        <%=  link_to (image_tag user.avatar.url(:thumb), :class => "img-polaroid pull-left"), user_path(user) %>
        <h5>Winner</h5>
        <p>
          <%= user.firstname + " " + user.surname %>
          <br />
          Score: 43  <br />
          Handicap: 0
        </p>
      </div>
      <div class="widget span4">
        <% user = User.find(3) %>
        <%=  link_to (image_tag user.avatar.url(:thumb), :class => "img-polaroid pull-left"), user_path(user) %>
        <h5>Longest Drive</h5>
        <p>
          <%= user.firstname + " " + user.surname %>
          <br />
          354yds<br />
          8th hole
        </p>
      </div>
      <div class="widget span4">
        <% user = User.find(6) %>
        <%=  link_to (image_tag user.avatar.url(:thumb), :class => "img-polaroid pull-left"), user_path(user) %>
        <h5>Closest to the Pin</h5>
        <p>
          <%= user.firstname + " " + user.surname %>
          <br />
          2ft<br />
          9th hole
        </p>
      </div>
    </div>

</div>


