<div class="container">
  <div class="span3">

    <%=  form_for @round do |f| %>
        <%= f.collection_select(:id, @courses, :id, :name, {:include_blank => 'Please Select'}) %>

        <table class="table-hover">
          <thead>
            <th>Hole</th>
            <th>Par</th>
            <th>Index</th>
            <th>Strokes</th>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label "1" %></td>
              <td><%= f.label "4" %></td>
              <td><%= f.label "15" %></td>
              <td><%= f.text_field :comment %></td>
            </tr>
          </tbody>

        </table>




    <% end %>


  </div>

</div>