<% provide(:title, 'Wall') %>

<% unless next_competition.nil? %>
  <div class="hero-unit" style="background-image: url('<%= next_competition.course.photo %>')">
    <div class="row">
      <div class="span11">
        <div class="row">
          <div class="span2">
            <%= image_tag next_competition.course.crest, :class => 'pull-left img-polaroid' %>
          </div>
          <div class="span9">
            <h1><%= next_competition.course.name %></h1>
            <h3><%= next_competition.competition_date %></h3>
            <p><%= next_competition.message %></p>
			<% unless next_competition.signed_up?(current_user) %>
				<%= render :partial => 'signups/form' %>
			<% end %>	
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!-- Posts and comments -->
<div class="row">
  <div class="span9">

    <div id="new_post_form">
        <!-- placeholder for form to be render thru AJAX -->
    </div>

    <div id="posts">
        <%= render @posts %>
        <%= will_paginate @posts %>
    </div>
  </div>

  <!-- Right side column -->
  <div class="span3">

    <div class="row">

      <div class="widget span3">
        <h3>Actions</h3>
        <ul class="nav nav-list">
          <li><%= link_to "Post to your wall", new_post_path, id: "new_post", remote: true %></li>
          <li><%= link_to "Record New Round", new_round_path %></li>
          <% if is_admin? %>
              <li><%= link_to "Users Administration", users_path %></li>
              <li><%= link_to "Create a new competition", new_competition_path %></li>
              <li><%= link_to "Competition Administration", competitions_path %></li>
              <li><%= link_to "Create a new course", new_course_path %></li>
              <li><%= link_to "Course Administration", courses_path %></li>
          <% end %>
        </ul>

      </div>
      <% unless prev_competition.nil? %>
          <div class="widget span3">
            <h3>Last Competition</h3>
            <h4><%= prev_competition.course.name %></h4>
            <p><%= prev_competition.competition_date %></p>
            <table class="table table-hover">
              <thead>
              <th>Pos.</th>
              <th>Name</th>
              <th>Back 9</th>
              <th>Pts</th>
              </thead>
              <tbody>
              <% prev_competition.top5.each_with_index do |round, index| %>

                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= round.user.fullname %></td>
                    <td><%= round.back_nine %></td>
                    <td><%= round.total_score %></td>
                  </tr>

              <% end %>
              </tbody>
            </table>
            <%= link_to "Full Result", competition_path(prev_competition), :class => "btn btn-mini btn-primary pull-right" %>
        </div>
      <% end %>
    </div>

  </div>


</div>

</div>