<% provide(:title, 'Wall') %>


<div class="hero-unit" id="wall">

    <div class="row">

      <div class="span11">

        <div class="row">

          <div class="span2">
            <%= image_tag "courses/luttrellstown.jpg", :class => 'pull-left img-polaroid' %>
          </div>

          <div class="span9">
            <h1>Competition: Luttrellstown</h1>
            <p>We are playing the July competition in Luttrellstown Castle on Saturday 23rd July.  Our tee times are booked
            between 2 and 3 pm, so we're going out in fourballs, but places are limited. Please make sure to sign up by clicking the sign up button below.</p>
            <p>Look forward to seeing you all there!</p>
            <%=  link_to "Sign Up!", wall_path, :class => "pull-right btn-large btn-primary" %>
          </div>

        </div>

      </div>

    </div>

</div>

<!-- Posts and comments -->
<div class="row">
  <div class="span9">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="span2 post-img">
          <%= link_to (image_tag post.user.avatar.url(:thumb), :class => "img-polaroid"), user_path(post.user) %>
          <h4><%= post.user.firstname + " " + post.user.surname %></h4>
          <p><%= time_ago_in_words(post.created_at) %> ago</p>
          <p>
            <% if is_admin or post.user == current_user %>
                <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure, all comments will be deleted also?' } %>
            <% end %>
          </p>
        </div>

        <div class="span7">
          <!-- the post and post title -->
          <p class="post-title"><%= h(post.title) %></b></p>
          <p><%= h(post.message) %></p>

          <!-- Associated comments -->
          <table class="table table-hover">
          <% post.comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to (image_tag comment.user.avatar.url(:micro), :class => "img-polaroid pull-left"), user_path(comment.user) %>
                <span class="user"><%= comment.user.firstname %> <%= comment.user.surname %></span><br />
                <%= comment.comment %>
                <span class="comment-date"><%= time_ago_in_words(comment.created_at) %> ago</span><br />
                <% if is_admin or comment.user == current_user %>
                    <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </table>

          <!-- Add a new comment -->
          <%= form_for @comment do |f| %>
            <%=  f.hidden_field :post_id, :value => post.id %>
            <%=  f.hidden_field :user_id, :value => current_user.id %>
            <%=  f.text_area :comment, :placeholder => "Write a comment...", :class => "text_area" %>
            <%=  f.submit "Add Comment" %>
          <% end %>

        </div>
      </div>
       <hr>
    <% end %>
  </div>

<div class="span3">

  <div class="row">

    <div class="widget span3">
      <ul class="nav nav-list">
        <li class="nav-header">Actions</li>
        <li>
          <a href="#myModal" data-toggle="modal">
            Post to your wall
          </a>
        </li>


        <li><%= link_to "Post a picture on your wall", new_post_path %></li>
        <li><%= link_to "Add a video to your wall", new_post_path %></li>
        <% if is_admin %>
            <li><%= link_to "Users Administration", users_path %></li>
            <li><%= link_to "Create a new competition" %></li>
            <li><%= link_to "Create a new course", new_course_path %></li>
        <% end %>
      </ul>

    </div>

    <div class="widget span3">
      <h3>Last Competition</h3>
      <table class="table table-hover">
        <thead>
          <th></th>
          <th>Name</th>
          <th>Points</th>
          <th>Back 9</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Tiger Woods</td>
            <td class="number">43</td>
            <td class="number">19</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Adam Scott</td>
            <td class="number">41</td>
            <td class="number">21</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Rory McIlroy</td>
            <td class="number">41</td>
            <td class="number">19</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Bubba Watson</td>
            <td class="number">40</td>
            <td class="number">23</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Luke Donald</td>
            <td class="number">39</td>
            <td class="number">20</td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Full Result", competition_path, :class => "btn btn-mini btn-primary pull-right" %>
    </div>

  </div>

</div>

</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Write a post to your wall</h3>
  </div>
  <div class="modal-body">
    <%= render "posts/form", :@post => Post.new %>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>