<div class="page-header">
  <h1>Courses</h1>
  <% if is_admin? %>
    <div class="well">
        <%= link_to "New Course", new_course_path, :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>


<!-- Loop through courses -->
<div class="row">
  <% @courses.each do |course| %>

    <div class="span4 offset1 courses">
          <%=  link_to (image_tag course.crest), course_path(course), :class => 'pull-left' %>
          <h4><%= course.name %></h4>
          <p><%= course.address %></p>
          <%= link_to "Course Details", course_path(course), :class => "pull-right btn btn-mini"  %>
        </div>

  <% end %>
</div>