<%= form_for @post, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.text_field :title, :class => "text_area", :placeholder => "Title" %></p>
  <p><%= f.text_area :message, :class => "text_area", :placeholder => "Your message.", :rows => 3  %></p>
  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </p>
  <p><%= f.submit "Submit", :class => "btn btn-success" %></p>
<% end %>
