<div class="row post">
  <div class="span2">
    <%= image_tag @post.user.avatar.url(:thumb), :class => "img-polaroid pull-left" %>
  </div>
  <div class="span9">
    <h2><%= @post.user.firstname + " " + @post.user.surname %></h2>
    <p><%= @post.message %></p>
    <p><%= time_ago_in_words(@post.created_at) %> ago</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= form_for [@post, @post.comments.build] do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.text_area :comment, :placeholder => "Your comment", :class => "text_area" %>
      <%= f.submit "Add Comment" %>
    <% end %>
  </div>
</div>
<% @post.comments.each do |comment| %>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span9 offset1">
      <p><%= comment.comment %></p>
    </div>
  </div>
<% end %>

