<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @handicap.user_id %>
</p>

<p>
  <b>Competition:</b>
  <%= @handicap.competition_id %>
</p>

<p>
  <b>Handicap:</b>
  <%= @handicap.handicap %>
</p>

<p>
  <b>Date adjusted:</b>
  <%= @handicap.date_adjusted %>
</p>


<%= link_to 'Edit', edit_handicap_path(@handicap) %> |
<%= link_to 'Back', handicaps_path %>
